body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, cyan , yellow); 
} 


div{
    background-color: rgba(0 , 0 , 0, 0.6);
    color: aliceblue;
    position: absolute;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 30px;

}
input{
    padding:10px;
    outline: none;
    font-size: 15px;
}
button{
    background-color: aqua;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    color: black;
    font-size: large;
    cursor: pointer;
    
}
button:hover{
    background-color: rgb(26, 196, 187);

}